<%= link_to "HOME", restaurants_path, class: "btn btn-primary mx-3 mt-3" %>
<div class="col-sm-8 m-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><strong><%= @restaurant.name %></strong></h5>
      <p class="card-text"><%= @restaurant.address %></p>
      <p class="card-text"><%= @restaurant.phone_number %></p>
      <p class="card-text"><%= @restaurant.category.capitalize %></p>
    </div>
  </div>
</div>
<div class="col-sm-8 m-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><strong><%= @title %></strong></h5>
      <% @restaurant.reviews.each do |rev| %>
        <li> <strong>Rating:</strong> <%=rev.rating%> - <strong>Review</strong>: <%=rev.content%></li>
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-8 m-3 p-2 shadow-lg bg-white rounded text-left">
  <h3 class=>Add a new review for <%=@restaurant.name%></h3>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
